<div class="col-2 d-flex flex-column flex-grow-1 p-3" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <% if action_name == "chats" %>
      <a href="<%= chats_path %>" class="nav-link active">
      <% else %>
      <a href="<%= chats_path %>" class="nav-link text-white">
      <% end %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Chats
      </a>
    </li>
    <li>
      <% if action_name == "shortcuts" %>
      <a href="<%= shortcuts_path %>" class="nav-link active">
      <% else %>
      <a href="<%= shortcuts_path %>" class="nav-link text-white">
      <% end %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Shortcuts
      </a>
    </li>
    <li>
      <% if action_name == "settings" %>
      <a href="<%= settings_path %>" class="nav-link active">
      <% else %>
      <a href="<%= settings_path %>" class="nav-link text-white">
      <% end %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Settings
      </a>
    </li>
  </ul>
</div>
