<div style="padding-top:30px" class="container">
  <%= form_with url: update_preferences_path do %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary">
        <div class="row">
          <div class="col">
            <div class="custom-control custom-switch">
              <% if @user.preferences[:sms_forwarding_enabled].downcase == "true" %>
                <input type="checkbox" class="custom-control-input" id="sms_forwarding_enabled" checked="checked">
              <% else %>
                <input type="checkbox" class="custom-control-input" id="sms_forwarding_enabled">
              <% end %>
              <label class="custom-control-label" for="sms_forwarding_enabled">Enable SMS Forwarding</label>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <div style="padding-top:10px" class="form-group">
              <label for="iphone_number">iPhone Number (if any)</label>
              <input class="form-control" id="iphone_number" type="text" value="<%= @user.preferences[:iphone_number] %>">
            </div>
          </div>
          <div class="col">
            <div style="padding-top:10px" class="form-group">
              <label for="phone_number">SMS Forwarding Phone Number</label>
              <input class="form-control" id="phone_number" type="text" value="<%= @user.preferences[:phone_number] %>">
            </div>
          </div>
          <div class="col">
            <div style="padding-top:10px" class="form-group">
              <label for="phone_number">Twilio Phone Number</label>
              <input class="form-control" id="twilio_number" type="text" value="<%= @user.preferences[:twilio_number] %>">
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="phone_number">Twilio Account SID</label>
              <input class="form-control" id="twilio_account_id" type="text" value="<%= @user.preferences[:twilio_account_id] %>">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="phone_number">Twilio Auto Token</label>
              <input class="form-control" id="twilio_auth_token" type="text" value="<%= @user.preferences[:twilio_auth_token] %>">
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <%= submit_tag "Update", class: "btn btn-primary", id:"user-preferences-update" %>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
  <div class="row" style="padding-top:10px">
    <div class="col">
      <div id="preference-save-status"></div>
    </div>
  </div>
</div>

<script>
  $("#user-preferences-update").click(function(e){
    e.preventDefault();
    $("#user-preferences-update").prop('disabled', true);
    sms_forwarding_enabled = $("#sms_forwarding_enabled").is(':checked');
    iphone_number = $("#iphone_number").val();
    phone_number = $("#phone_number").val();
    twilio_number = $("#twilio_number").val();
    twilio_account_id = $("#twilio_account_id").val();
    twilio_auth_token = $("#twilio_auth_token").val()
    $.post(
      "<%= update_preferences_path %>",
      { user: {
        preferences:
          { sms_forwarding_enabled: sms_forwarding_enabled,
            iphone_number: iphone_number,
            phone_number: phone_number,
            twilio_number: twilio_number,
            twilio_account_id: twilio_account_id,
            twilio_auth_token: twilio_auth_token }
          }
      }
    ).done(function(data){

      $("#sms_forwarding_enabled").prop('checked', data["ms_forwarding_enabled"]);
      $("#iphone_number").val(data["iphone_number"]);
      $("#phone_number").val(data["phone_number"]);
      $("#twilio_number").val(data["twilio_number"]);
      $("#twilio_account_id").val(data["twilio_account_id"]);
      $("#twilio_auth_token").val(data["twilio_auth_token"])

      $("#preference-save-status").append("<div class='alert alert-success' role='alert'>  Preferences successfully updated </div>").delay(5000).fadeOut("slow", function(){
        $("#preference-save-status").empty();
        $("#preference-save-status").fadeIn();
      });

      setTimeout(function(){$(
        "#user-preferences-update").prop('disabled', false)
      }, 500);
    })
  });
</script>
